
section {
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 4em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    z-index: 2;
}

h1 span {
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

h1 span:nth-child(1)
{
    animation-delay: 1s;
}
h1 span:nth-child(2)
{
    animation-delay: 2s;
}
h1 span:nth-child(3)
{
    animation-delay: 2.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 3s;
}
h1 span:nth-child(5)
{
    animation-delay: 3.5s;
}
h1 span:nth-child(6)
{
    animation-delay: 4s;
}
h1 span:nth-child(7)
{
    animation-delay: 4.5s;
}

.btn {
    position: absolute;
    top: 62%;
    text-align: center;
    left: 42%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    font-size: 2rem;
    font-weight: 700;
    padding: 0.2em 1em;
    color: black;
    background-color: white;
    border: 10px solid medium; /* Replace 'medium' with a valid border size, like '10px' */
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-10px);
    background-color:honeydew;
    color: black;
}